<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Way_to_Deen.Properties.Settings.FINAL_FINALConnectionString"
            connectionString="Data Source=DESKTOP-UJGC92B\SQLEXPRESS;Initial Catalog=&quot;FINAL FINAL&quot;;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Way_to_Deen.Properties.Settings.LASTFINALConnectionString"
            connectionString="Data Source=DESKTOP-UJGC92B\SQLEXPRESS;Initial Catalog=LASTFINAL;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>